p{
    font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Cabin Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}